@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body {
    background-color: #white;
    font-family: "Roboto Mono", serif;
    color: #6900fc;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


.container {
    width: 800px;
    margin: 50px auto;
}


.card {
    background: #E7FBE6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #6900fc;
    margin-bottom: 20px;
}


.text-center {
    text-align: center;
}


.img-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 6px 6px 0px #6900fc;
}


.list-inline {
    list-style: none;
    padding-left: 0;
}

.list-inline li {
    display: inline-block;
    padding: 0 10px;
}


a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #efbd5a;
    text-decoration: underline;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
